@page
@model GrKouk.Web.Erp.Pages.Expenses.EditModel

@{
    ViewData["Title"] = "Edit";
}
@System.Globalization.CultureInfo.CurrentCulture
@System.Globalization.CultureInfo.CurrentUICulture

<h4>Edit Expense Transaction</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ItemVm.Id" />
        <input type="hidden" asp-for="ItemVm.Timestamp" />
        <input type="hidden" asp-for="ItemVm.RevenueCentreId" />
        <div class="form-row">

            <div class="form-group col-md-2">
                <label asp-for="ItemVm.TransactionDate" class="small"></label>
                <input asp-for="ItemVm.TransactionDate" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.TransactionDate" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ItemVm.TransactorId" class="small"></label>
                <select asp-for="ItemVm.TransactorId" class="form-control form-control-sm" asp-items="ViewBag.TransactorId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.ReferenceCode" class="small"></label>
                <input asp-for="ItemVm.ReferenceCode" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.ReferenceCode" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ItemVm.FinTransCategoryId" class="small"></label>
                <select asp-for="ItemVm.FinTransCategoryId" class="form-control form-control-sm" asp-items="ViewBag.FinTransCategoryId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.CompanyId" class="small"></label>
                <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ItemVm.CostCentreId" class="small"></label>
                <select asp-for="ItemVm.CostCentreId" class="form-control form-control-sm" asp-items="ViewBag.CostCentreId"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ItemVm.Description" class="small"></label>
                @*<input asp-for="ItemVm.Description" class="form-control" />*@
                <textarea asp-for="ItemVm.Description" class="form-control form-control-sm" placeholder="Description of Transaction"></textarea>
                <span asp-validation-for="ItemVm.Description" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.AmountFpa" class="small"></label>
                <input asp-for="ItemVm.AmountFpa" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.AmountFpa" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.AmountNet" class="small"></label>
                <input asp-for="ItemVm.AmountNet" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.AmountNet" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
