@page
@model GrKouk.Web.Erp.Pages.Configuration.TransactorTransDocTypes.CreateModel

@{
    ViewData["Title"] = "Create";
}
@section MyCss
{
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap4.css" />
}

<h4>Create TransTransactorDocTypeDef</h4>
<hr />


<div class="container">
    <form method="post">
        <input type="hidden" asp-for="ItemVm.AllowedTransactorTypes"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mb-3">
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.Code" class="form-label"></label>
                <input asp-for="ItemVm.Code" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Code" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="ItemVm.Name" class="form-label"></label>
                <input asp-for="ItemVm.Name" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2 ">

                <label asp-for="ItemVm.Active"></label>
                <input asp-for="ItemVm.Active" class="form-check form-control-sm" />

            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.SectionId" class="form-label"></label>
                <select asp-for="ItemVm.SectionId" class="form-select form-select-sm" asp-items="ViewBag.SectionList"></select>
                <span asp-validation-for="ItemVm.SectionId" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.DefaultCfaId" class="form-label"></label>
                <select asp-for="ItemVm.DefaultCfaId" class="form-select form-select-sm" asp-items="ViewBag.DefaultCfaId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.TransTransactorDefId" class="form-label small"></label>
                <select asp-for="ItemVm.TransTransactorDefId" class="form-select form-select-sm" asp-items="ViewBag.TransTransactorDefId"></select>
                <span asp-validation-for="ItemVm.TransTransactorDefId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.CompanyId" class="form-label small"></label>
                <select asp-for="ItemVm.CompanyId" class="form-select form-select-sm" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="ItemVm.CompanyId" class="text-danger"></span>
            </div>
            <div class=" form-group col-md-3">
                <label class="form-label small">Allowed Transactor Types</label>
                <ejs-multiselect id="AllowedTransactorTypes" dataSource="@ViewBag.TransactorTypesListJs" placeholder="Select Transactor Types" mode="CheckBox"
                                 showDropDownIcon="true" 
                                 >
                    <e-multiselect-fields text="Title" value="Value"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>

        <div class="row mb-3">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            const allowedTransactorTypes = document.getElementById("AllowedTransactorTypes").ej2_instances[0];
            allowedTransactorTypes.changeOnBlur=false;
            allowedTransactorTypes.addEventListener("change",(event)=>{
                
                var selected = JSON.stringify(event.value);
                $('#ItemVm_AllowedTransactorTypes').val(selected);
            });
        });
    </script>
}
