@model GrKouk.Web.ERP.Helpers.IndexFilterResult

@{
    Layout = null;
}

<div class="collapse show" id="filterCollapse">
    <form class="form-inline" id="FiltersForm" method="get">
        <input type="hidden" id="filtersVisible" />
        <input type="hidden" id="rowSelectorsVisible" />
        <input type="hidden" id="currentSort" />
        <input type="hidden" id="currentFilter" />
        <input type="hidden" id="totalPages" />
        <input type="hidden" id="totalRecords" />
        <input type="hidden" id="pageIndex" />

        <div class="row align-items-center">
            <div class="col-md-auto">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon">
                        <i class="fas fa-search fa-xs"></i>
                    </a>
                </div>
            </div>
            @{
                if (Model.FiltersToShow.ShowDateFlt)
                {
                    <div class="col-md-2 col-sm-6">

                        <div class="form-floating">

                            <select name="DatePeriodFilter" id="DatePeriodFilter" class="form-select form-select-sm"
                                    asp-items="Model.DateFilterValues">
                            </select>
                            <label class="small">Period:</label>
                        </div>
                    </div>
                }

            }
            @{
                if (Model.FiltersToShow.ShowMaterialNatureFlt)
                {
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating">
                            <select id="WarehouseItemNatureFilter" class="form-select form-select-sm"
                                    asp-items="Model.MaterialNaturesFilterValues">
                            </select>
                            <label class="small">Material Nature:</label>
                        </div>

                    </div>
                }

            }
            @{
                if (Model.FiltersToShow.ShowTransactorTypeFlt)
                {
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating">
                            <select id="TransactorTypeFilter" class="form-select form-select-sm"
                                    asp-items="Model.TransactorTypeFilterValues">
                            </select>
                            <label class="small">Transactor Type:</label>
                        </div>

                    </div>
                }

            }
            @{
                if (Model.FiltersToShow.ShowCompaniesFlt)
                {
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating">
                            <select id="CompanyFilter" class="form-select form-select-sm"
                                    asp-items="Model.CompanyFilterValues">
                            </select>
                            <label class="small">Company:</label>
                        </div>

                    </div>
                }

            }
            @{
                if (Model.FiltersToShow.ShowPageSizeFlt)
                {
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating">

                            <select id="PageSize" class="form-select form-select-sm"
                                    asp-items="Model.PageSizeFilterValues">
                            </select>
                            <label class="small"> Page Size:</label>
                        </div>
                    </div>
                }

            }
            @{
                if (Model.FiltersToShow.ShowCurrencyFlt)
                {
                    <div class="col-md-2 col-sm-6">
                        <div class="form-floating">

                            <select id="CurrencySelector" class="form-select form-select-sm"
                                    asp-items="Model.CurrencyFilterValues">
                            </select>
                            <label class="small"> Currency:</label>
                        </div>
                    </div>
                }

            }


        </div>


    </form>
</div>