@page
@model AppSettingsModel

@{
    ViewData["Title"] = "Application Settings";
}

@section MyCss
{
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
}

<div class="container">
    <form method="post">
        <fieldset id="thisForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="ItemVm[0].Code" class="control-label" small>All Companies Setting</label>
                    <select asp-for="ItemVm[0].Code" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-10">
                    <label class="control-label" small>Sum Of Material Buys Definition</label>
                    <div class="input-group input-group-sm">
                        <input id="BuyMaterialsValue" asp-for="ItemVm[1].Value" disabled />

                        <div class="input-group-append" id="button-addon4">
                            <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#itemSelector" data-selectorType="BuyMaterialsSettings" type="button">...</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" id="saveForm" />
            </div>
        </fieldset>
    </form>
</div>
<!-- Modal Item selector -->
<div class="modal fade" id="itemSelector" tabindex="-1" role="dialog" aria-labelledby="itemsModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="overflow-y: scroll; max-height:75%;  margin-top: 50px; margin-bottom:50px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="form-row">
                        <div class="col-6">
                            <p class="modal-title font-weight-bold" id="itemsModalLabel">Selector</p>
                        </div>
                        <div class="col-6 text-right">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <ejs-multiselect id="MultiSelectCompanies"  placeholder="Select Companies" mode="CheckBox"
                                             showDropDownIcon="true"
                                             showSelectAll="true" selectAllText="Select All" unSelectAllText="unSelect All">
                                <e-multiselect-fields text="title" value="value"></e-multiselect-fields>
                            </ejs-multiselect>
                           
                        </div>
                        <div class="form-group col-md-3" id="MaterialNatureTypesDiv">
                           <ejs-multiselect id="MultiSelectMaterialNatures"  placeholder="Select Natures" mode="CheckBox"
                                             showDropDownIcon="true"
                                             showSelectAll="true" selectAllText="Select All" unSelectAllText="unSelect All">
                                <e-multiselect-fields text="title" value="valueInt"></e-multiselect-fields>
                            </ejs-multiselect>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="col-10">
                            <input class="form-control form-control-sm" name="itemsSearchText" placeholder="Search text" type="text" />

                        </div>
                        <div class="col-2">
                            <span class="spinner-border spinner-border-sm text-primary" id="SpinnerLoader" style="display: none"></span>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script>
        $(document).ready(function () {
            var getWarehouseItemNatureList = () => {
                var timeout;
                var pageIndex = 1;
                var uri = '/api/GrKoukInfoApi/GetSelectorMaterialNatures';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: uri,
                    beforeSend: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                       // }
                        //timeout = setTimeout(function () {
                        //    $("#loadMe").modal({
                        //        backdrop: "static",
                        //        keyboard: false,
                        //        show: true
                        //    });
                        //},
                        //    1000);
                    },
                    success: function (result) {
                        var multiSelect = document.getElementById("MultiSelectMaterialNatures").ej2_instances[0];
                        multiSelect.dataSource = result;
                        
                    },
                    complete: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                        //}
                        //$("#loadMe").modal("hide");
                        //setTimeout(function () {
                        //    console.log('Checking for open modals');
                        //    var isOpen = $('#loadMe').hasClass('show');
                        //    if (isOpen) {
                        //        console.log('There is an open Modal');
                        //        $("#loadMe").modal("hide");
                        //    } else {
                        //        console.log('No open modal');
                        //    }
                        //},
                        //    2000);
                    },
                    error: function (e) {
                        console.log(e);

                    }
                });
            };
            var getTransactorTypeList = () => {
                var timeout;
                var pageIndex = 1;
                var uri = '/api/GrKoukInfoApi/GetSelectorTransactorTypes';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: uri,
                    beforeSend: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                        //}
                        //timeout = setTimeout(function () {
                        //    $("#loadMe").modal({
                        //        backdrop: "static",
                        //        keyboard: false,
                        //        show: true
                        //    });
                        //},
                        //    1000);
                    },
                    success: function (result) {
                       var multiSelect = document.getElementById("MultiSelectMaterialNatures").ej2_instances[0];
                       multiSelect.dataSource = result;
                    },
                    complete: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                        //}
                        //$("#loadMe").modal("hide");
                        //setTimeout(function () {
                        //    console.log('Checking for open modals');
                        //    var isOpen = $('#loadMe').hasClass('show');
                        //    if (isOpen) {
                        //        console.log('There is an open Modal');
                        //        $("#loadMe").modal("hide");
                        //    } else {
                        //        console.log('No open modal');
                        //    }
                        //},
                        //    2000);
                    },
                    error: function (e) {
                        console.log(e);

                    }
                });
            };
            var getCompanyList = () => {
                var timeout;
                var pageIndex = 1;
                var uri = '/api/GrKoukInfoApi/GetSelectorCompanies';
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: uri,
                    beforeSend: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                        //}
                        //timeout = setTimeout(function () {
                        //    $("#loadMe").modal({
                        //        backdrop: "static",
                        //        keyboard: false,
                        //        show: true
                        //    });
                        //},
                        //    1000);
                    },
                    success: function (result) {
                        var multiSelect = document.getElementById("MultiSelectCompanies").ej2_instances[0];
                        multiSelect.dataSource = result;
                    },
                    complete: function () {
                        //if (timeout) {
                        //    clearTimeout(timeout);
                        //}
                        //$("#loadMe").modal("hide");
                        //setTimeout(function () {
                        //    console.log('Checking for open modals');
                        //    var isOpen = $('#loadMe').hasClass('show');
                        //    if (isOpen) {
                        //        console.log('There is an open Modal');
                        //        $("#loadMe").modal("hide");
                        //    } else {
                        //        console.log('No open modal');
                        //    }
                        //},
                        //    2000);
                    },
                    error: function (e) {
                        console.log(e);

                    }
                });
            };
            $('#itemSelector').on('shown.bs.modal',
                function () {
                    //let currentCompany = $('#ItemVm_CompanyId').val();
                    //$('[name=itemsSearchText]').val("");
                    //$('#selectorItemsList > tbody').empty();
                    //$('#selectorItemsList > thead').empty();
                    //var $compList = $('#CompaniesList');
                    //var $transList = $('#TransactorTypes');


                    //$('[name=itemsSearchText]').trigger('focus');

                });
            $('#itemSelector').on('show.bs.modal',
                function (event) {
                    var button = $(event.relatedTarget);
                    var selectorType = button.data('selectortype');
                    var modal = $(this);
                    switch (selectorType) {
                        case "BuyMaterialsSettings":
                            modal.find('.modal-title').text("Buy Materials Settings");
                            //$('#TransactorSelectorTypesDiv').hide();
                            //$('#MaterialNatureTypesDiv').show();
                            //curSelectorType = "ProductsSelector";
                            //var $matNatures = $('#MaterialNatureTypes');
                            //if ($matNatures.children('option').length === 0) {
                            //    getWarehouseItemNatureList();
                            //}
                            getTransactorTypeList();
                            getWarehouseItemNatureList();
                            break;
                        case "SuppliersSelector":
                            //modal.find('.modal-title').text("Supplier selector");
                            //$('#TransactorSelectorTypesDiv').show();
                            //$('#MaterialNatureTypesDiv').hide();
                            //curSelectorType = "SuppliersSelector";
                            //var $transTypes = $('#TransactorTypes');
                            //if ($transTypes.children('option').length === 0) {
                            //    getTransactorTypeList();
                            //}
                            break;
                        default:
                    }


                    var $compList = $('#CompaniesList');
                    if ($compList.children('option').length === 0) {
                        getCompanyList();
                    }
                });
        });

    </script>
}