@page
@model GrKouk.Web.Erp.Pages.Configuration.PaymentMethods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit PaymentMethod</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ItemVm.Id" />
        <div class="row mb-3">
            <div class="form-group col-md-6">
                <label asp-for="ItemVm.Name" class="form-label small"></label>
                <input asp-for="ItemVm.Name" class="form-control form-control-sm"/>
                <span asp-validation-for="ItemVm.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.DaysOverdue" class="form-label small"></label>
                <input asp-for="ItemVm.DaysOverdue" class="form-control form-control-sm"/>
                <span asp-validation-for="ItemVm.DaysOverdue" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.AutoPayoffWay" class="form-label small"></label>
                <select asp-for="ItemVm.AutoPayoffWay" class="form-select form-select-sm" asp-items="ViewBag.AutoPayoffWay"></select>
                <span asp-validation-for="ItemVm.AutoPayoffWay" class="text-danger"></span>
            </div>
            @*<div class="form-group col-md-3">
                <label asp-for="ItemVm.PayoffSeriesId" class="form-label small"></label>
                <input asp-for="ItemVm.PayoffSeriesId" class="form-control form-control-sm"/>
                <span asp-validation-for="ItemVm.PayoffSeriesId" class="text-danger"></span>
            </div>*@
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.CfAccountId" class="form-label"></label>
                <select asp-for="ItemVm.CfAccountId" class="form-select form-select-sm" asp-items="ViewBag.CfAccountId"></select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="form-group">
                <input type="submit" value="update" class="btn btn-secondary btn-sm"/>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
