@page
@model GrKouk.Web.Erp.Pages.MainEntities.Transactors.CreateModel

@{
    ViewData["Title"] = "Create";
}
@section MyCss
{
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap4.css" />
}
<h4>Create Transactor</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <input type="hidden" asp-for="ItemVm.SelectedCompanies" />
        <div class="row mb-3 ">
            <div class="col-md-2">
                <label asp-for="ItemVm.Code" class="form-label small"></label>
                <input asp-for="ItemVm.Code" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Code" class="text-danger small"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ItemVm.Name" class="form-label small"></label>
                <input asp-for="ItemVm.Name" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Name" class="text-danger small"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="ItemVm.TransactorTypeId" class="form-label small"></label>
                <select asp-for="ItemVm.TransactorTypeId" class="form-select form-select-sm" asp-items="ViewBag.TransactorTypeId"></select>
            </div>
           
            <div class="col-md-3">
                <label class="form-label small">New Selected Comp</label>
                <ejs-multiselect id="SelectedCompanies" dataSource="@ViewBag.CompaniesListJs" placeholder="Select Companies" mode="CheckBox"
                                 showDropDownIcon="true"
                                 showSelectAll="false" selectAllText="Select All" unSelectAllText="unSelect All">
                    <e-multiselect-fields text="Title" value="Value"></e-multiselect-fields>
                </ejs-multiselect>


            </div>
          
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="ItemVm.Address" class="form-label small"></label>
                <input asp-for="ItemVm.Address" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Address" class="text-danger small"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ItemVm.City" class="form-label small"></label>
                <input asp-for="ItemVm.City" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.City" class="text-danger small"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="ItemVm.Zip" class="form-label small"></label>
                <input asp-for="ItemVm.Zip" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.Zip" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="ItemVm.PhoneWork" class="form-label small"></label>
                <input asp-for="ItemVm.PhoneWork" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.PhoneWork" class="text-danger small"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="ItemVm.PhoneMobile" class="form-label small"></label>
                <input asp-for="ItemVm.PhoneMobile" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.PhoneMobile" class="text-danger small"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="ItemVm.PhoneFax" class="form-label small"></label>
                <input asp-for="ItemVm.PhoneFax" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.PhoneFax" class="text-danger small"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="ItemVm.EMail" class="form-label small"></label>
                <input asp-for="ItemVm.EMail" class="form-control form-control-sm" />
                <span asp-validation-for="ItemVm.EMail" class="text-danger small"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div>
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
    <script>
        $(document).ready(function() {
            const selectedCompanies = document.getElementById("SelectedCompanies").ej2_instances[0];
            selectedCompanies.changeOnBlur=false;
            selectedCompanies.addEventListener("change",(event)=>{
              
                var selected = JSON.stringify(event.value);
                $('#ItemVm_SelectedCompanies').val(selected);
            });

        });
    </script>
}
