@page
@model GrKouk.Web.Erp.Pages.MainEntities.Transactors.EditModel

@{
    ViewData["Title"] = "Edit";
}
@section MyCss
{

    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap5.css" />
}
<h4>Edit Transactor</h4>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <input type="hidden" asp-for="ItemVm.Id" />
        <input type="hidden" asp-for="ItemVm.Timestamp" />
        <input type="hidden" asp-for="ItemVm.SelectedCompanies" />
        <div class="row mb-3">
            <div class="col-md-2">
                <div class="form-floating">
                    <input asp-for="ItemVm.Code" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.Code" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.Code" class="text-danger small"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-floating">

                    <input asp-for="ItemVm.Name" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.Name" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.Name" class="text-danger small"></span>
                </div>

            </div>

            <div class="col-md-2">
                <div class="form-floating">

                    <select asp-for="ItemVm.TransactorTypeId" class="form-select form-select-sm" asp-items="ViewBag.TransactorTypeId"></select>
                    <label asp-for="ItemVm.TransactorTypeId" class="form-label small"></label>
                </div>


            </div>
            <div class="col-md-3">
                <label class="form-label small">New Selected Comp</label>
                <ejs-multiselect id="SelectedCompanies" dataSource="@ViewBag.CompaniesListJs" placeholder="Select Companies" mode="CheckBox"
                                 showDropDownIcon="true"
                                 showSelectAll="false" selectAllText="Select All" unSelectAllText="unSelect All">
                    <e-multiselect-fields text="Title" value="Value"></e-multiselect-fields>
                </ejs-multiselect>

            </div>

        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="ItemVm.Address" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.Address" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.Address" class="text-danger small"></span>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input asp-for="ItemVm.City" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.City" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.City" class="text-danger small"></span>
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-floating">
                    <input asp-for="ItemVm.Zip" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.Zip" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.Zip" class="text-danger small"></span>
                </div>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="ItemVm.PhoneWork" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.PhoneWork" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.PhoneWork" class="text-danger small"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="ItemVm.PhoneMobile" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.PhoneMobile" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.PhoneMobile" class="text-danger small"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="ItemVm.PhoneFax" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.PhoneFax" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.PhoneFax" class="text-danger small"></span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input asp-for="ItemVm.EMail" class="form-control form-control-sm" />
                    <label asp-for="ItemVm.EMail" class="form-label small"></label>
                    <span asp-validation-for="ItemVm.EMail" class="text-danger small"></span>
                </div>


            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index" class="small">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script>
        $(document).ready(function() {
           
            const selectedCompanies = document.getElementById("SelectedCompanies").ej2_instances[0];
            var oldSel = $('#ItemVm_SelectedCompanies').val();
            if (oldSel.length>0) {
                selectedCompanies.value=JSON.parse(oldSel);    
            }
            selectedCompanies.changeOnBlur=false;
            selectedCompanies.addEventListener("change",(event)=>{

                var selected = JSON.stringify(event.value);
                $('#ItemVm_SelectedCompanies').val(selected);
            });
            //$('.selectpicker').selectpicker( );
        });
    </script>
}
