@page
@model GrKouk.Web.ERP.Pages.MainEntities.Materials.EditModel
@section MyCss
{
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/bootstrap4.css" />
}
@{
    ViewData["Title"] = "WarehouseItem Edit";
}

<h4>Edit WarehouseItem</h4>
<hr />

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ItemVm.Id" />
        <input type="hidden" asp-for="ItemVm.Timestamp" />
        <input type="hidden" asp-for="ItemVm.SelectedCompanies" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.Code" class="control-label small"></label>
                <input asp-for="ItemVm.Code" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.Code" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ItemVm.Name" class="control-label small"></label>
                <input asp-for="ItemVm.Name" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.Name" class="text-danger small"></span>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="ItemVm.WarehouseItemNature" class="control-label small"></label>
                <select asp-for="ItemVm.WarehouseItemNature" class="form-control form-control-sm small" asp-items="ViewBag.MaterialNatures"></select>
                <span asp-validation-for="ItemVm.WarehouseItemNature" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-1 ">
                <label asp-for="ItemVm.Active" class="small"></label>
                <input asp-for="ItemVm.Active" class="form-check form-control-sm" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ItemVm.ShortDescription" class="small"></label>
                <textarea asp-for="ItemVm.ShortDescription" class="form-control form-control-sm small" placeholder="Σύντομη Περιγραφή"> </textarea>
                <span asp-validation-for="ItemVm.ShortDescription" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ItemVm.Description" class="small"></label>
                <textarea asp-for="ItemVm.Description" class="form-control form-control-sm small" placeholder="Περιγραφή"> </textarea>
                <span asp-validation-for="ItemVm.Description" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="ItemVm.MainMeasureUnitId" class="control-label small"></label>
                <select asp-for="ItemVm.MainMeasureUnitId" class="form-control form-control-sm small" asp-items="ViewBag.MainMeasureUnitId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.SecondaryMeasureUnitId" class="control-label small"></label>
                <select asp-for="ItemVm.SecondaryMeasureUnitId" class="form-control form-control-sm small" asp-items="ViewBag.SecondaryMeasureUnitId"></select>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="ItemVm.SecondaryUnitToMainRate" class="control-label small"></label>
                <input asp-for="ItemVm.SecondaryUnitToMainRate" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.SecondaryUnitToMainRate" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.BuyMeasureUnitId" class="control-label small"></label>
                <select asp-for="ItemVm.BuyMeasureUnitId" class="form-control form-control-sm small" asp-items="ViewBag.BuyMeasureUnitId"></select>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="ItemVm.BuyUnitToMainRate" class="control-label small"></label>
                <input asp-for="ItemVm.BuyUnitToMainRate" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.BuyUnitToMainRate" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.FpaDefId" class="control-label small"></label>
                <select asp-for="ItemVm.FpaDefId" class="form-control form-control-sm small" asp-items="ViewBag.FpaDefId"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.BarCode" class="control-label small"></label>
                <input asp-for="ItemVm.BarCode" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.BarCode" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.ManufacturerCode" class="control-label small"></label>
                <input asp-for="ItemVm.ManufacturerCode" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.ManufacturerCode" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.PriceNetto" class="control-label small"></label>
                <input asp-for="ItemVm.PriceNetto" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.PriceNetto" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ItemVm.PriceBrutto" class="control-label small"></label>
                <input asp-for="ItemVm.PriceBrutto" class="form-control form-control-sm small" />
                <span asp-validation-for="ItemVm.PriceBrutto" class="text-danger small"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.MaterialType" class="control-label small"></label>
                <select asp-for="ItemVm.MaterialType" class="form-control form-control-sm small" asp-items="ViewBag.MaterialType"></select>
                <span asp-validation-for="ItemVm.MaterialType" class="text-danger small"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="ItemVm.MaterialCategoryId" class="control-label small"></label>
                <select asp-for="ItemVm.MaterialCategoryId" class="form-control form-control-sm small" asp-items="ViewBag.MaterialCategoryId"></select>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="ItemVm.CompanyId" class="control-label small"></label>
                <select asp-for="ItemVm.CompanyId" class="form-control form-control-sm small" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class=" form-group col-md-3">
                <label class="form-control-label small">Companies</label>
                <ejs-multiselect id="SelectedCompanies" dataSource="@ViewBag.CompaniesListJs" placeholder="Select Companies" mode="CheckBox"
                                 showDropDownIcon="true"
                                 showSelectAll="false" selectAllText="Select All" unSelectAllText="unSelect All">
                    <e-multiselect-fields text="Title" value="Value"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <ejs-scripts></ejs-scripts>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            const selectedCompanies = document.getElementById("SelectedCompanies").ej2_instances[0];
           
            var oldSel = $('#ItemVm_SelectedCompanies').val();
            if (oldSel.length>0) {
                selectedCompanies.value=JSON.parse(oldSel);    
            }
            
            selectedCompanies.changeOnBlur=false;
            selectedCompanies.addEventListener("change",(event)=>{
                
                var selected = JSON.stringify(event.value);
                $('#ItemVm_SelectedCompanies').val(selected);
            });
        });
    </script>
}
