@page
@model GrKouk.Web.ERP.Pages.Tools.UpdateProductCompanyMappingsModel
@{
}
<h1>Update warehouse item company mappings</h1>

<div class="container">
<form  method="post">
    
    <button type="submit">Perform Update</button>
</form>        
</div>
